<!DOCTYPE html>
<html>
<head>
    <title>Benford's Law Test</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Benford's Law Test</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit">
    </form>

    {% if plot_data %}
        <h2>Benford's Law Distribution</h2>
        <div id="plot_div">{{ plot_data|safe }}</div>
    {% endif %}

    <script>
        // Custom styling for the plot_div container
        document.getElementById('plot_div').style.width = '800px';
        document.getElementById('plot_div').style.height = '500px';
    </script>
</body>
</html>

